*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  background-color: #03051B;
}

.Container{
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}

@font-face{
  font-family: 'Montserrat';
  src: url(/public/Fonts/IBMPlexSans-Regular.ttf);
}
